[submodule "lib/libgit2"]
	path = lib/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost/commit/62a4b7f40efbfe7a9b539edc14c508eb45e56e2d
